html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: lightslategray;
    color: white !important;
}

input {
    border-radius: 110px;
    text-align: center;
}

th, td {
    color: white;
}

button {
    border:none;
    border-radius: 110px;
    box-shadow: 0 0 10px 0;
}
.Products-Page{
    margin-top:30px;

}

header {
    background-color: lightgray;
    border-bottom: 1px solid;
    box-shadow: 0px 0px 15px 0px;
}

    header nav {
        background-color: lightgray;
    }

    header div {
        background-color: lightgray;
    }

    header ul {
        background-color: lightgray;
    }
    header button {
        background-color: lightgray;
    }
    header li {
        background-color: lightgray;
    }